.card-container{
   padding: 2% 0;
   display: grid;
   place-items: center;

}
.card-animation {
	display: flex;
	width: 600px;
	height: 430px;
}
.card-animation > img {
   width: 0px;
   flex-grow: 1;
   object-fit: cover;
   opacity: .8;
   transition: all .5s ease;
}
.card-animation img:hover {
   cursor: crosshair;
   width: 300px;
   opacity: 1;
   filter: contrast(1.2);
}
