.sliders {
	display: grid;
	place-items: center;
	max-width: 100vw;
}

.slider {
	aspect-ratio: 10 / 16;
	width: 300px;
	position: relative;
	display: flex;
	overflow: scroll;
	scroll-snap-type: x mandatory;
	scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores compatibles */
	-ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Edge */
}
.slider::-webkit-scrollbar {
	display: none; /* Oculta la barra de desplazamiento en navegadores WebKit */
}

.slider > img {
	width: 100%;
	left: 0;
	position: sticky;
	object-fit: cover;
	border-radius: 5px;
	scroll-snap-align: center;
}

/* ocultar las barras de scroll */
